///*----------------------------------*\
//  #TYPOGRAPHY
//\*----------------------------------*/

$font-family: Avenir;
$subtext-font-size: 10px;
$regular-font-size: 14px;
$title-font-size: 18px;
$medium-font-weight: 600;
